html{
  scroll-behavior: smooth;
}

@media @media (min-width:0px) and (max-width:1000px){
  p{
    font-size: 22px;
    text-align: justify;
  }

  li{
    font-size: 22px;
    text-align: justify;
  }

  .zoom:hover
  {
    transition: scale(0.7);
  }

  #title{
    text-align: center;
  }

  .contactus{
    font-size: 18px;
  }

  #feature-title{
    text-align: center;
    transtition: color 5s;
  }

  #feature-title:hover{
    color: white;
  }
}

.navbg{
  background-color: warning;
  transform: transition 0.5s;
}

.navbg:hover{
  transition: scale(1.01);
}

.h3text
{
  padding:10px 10px 10px 10px;
  margin: 10px 0px 0px 0px;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px #E4EAFA;

}

body
{
  padding : 5px 5px 5px 5px;
  border:dotted;
  border-width:1.5px;

  font-family: 'Montserrat',sans-serif;
}
p
{
  font-family: 'sans-serif';
  color: white;
}

ul{
  font-family: 'Montserrat',,sans-serif;
  color: white;


}

.zoom {
  transition: transform 0.8s;
}

.zoom:hover {
  transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>

.nav-item{
  padding : 0px 18px 18px 0px;
    color: #DEE1DC;
}

.nav-brand{
  color: "Montserrat"
}
.nav-link{

  font-family: "Montserrat-light"
  font-size: 13px;
}

.features{

  text-align: center;
  padding: 7% 7% 0% 0%;
}

.featureicon{

  margin-bottom:-7%;
  font-size: 20px;
  color:#FF5733;
  transform: transition 1.5s;
  padding-bottom: 10%;
}

.featureicon:hover{
  transition:scale(1.05);
  color:#ED0500;
}

h5{
  font-family: "Montserrat";
}

.ptestimonail{
  text-align : center;
}

.contactus
{
  padding:0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 12px;
  font-family: "Montserrat-light";
  color: Grey;
  text-align : center;
}

h6{
  color:white;
}

.pricingheader{
  text-align: center;
  transition: background-color 2s;
}
.pricingheader:hover
{
  background-color: #F79593;

}

.nav-item{
  text-align: right;
}

.paddingfeatures{
  padding-bottom: 10%;
}

.btn{
  margin-left:10%
  height: 25px;
  width: 125px;;
  text-align: right;
}
